<h1>Listagem de funcionarios</h1>

<%if current_funcionario.gerente==true%>
<%=image_tag("logos/lista.png",size: "100x130", alt: "Edit Entry")%>
<table>
  <thead>
    <tr>

      <th>Email</th>
      
      <th>Cargo</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.email %></td>

        <%if funcionario.gerente==true%>
           <td><%= "Gerente" %></td>
        <%else%>
          <td><%= "Funcionario" %></td>
        <%end%>

        
      </tr>
    <% end %>
  </tbody>
</table>
<%else%>
<p>Apenas visivel para Gerentes</p>
<%end%>
<br><br><br>
<%= link_to 'Pagina inicial', root_path %> 



