
 <%=image_tag("logos/bemvindo.png")%>
 <p id="notice"><%= notice %></p>
 <br>


<p>
	
<ul> <%if !funcionario_signed_in?%>
	<li><%= link_to "Login", new_funcionario_session_url  %></li>
	<li><%= link_to "Cadastro de funcionarios", new_funcionario_registration_url  %></li>
	<%end%>
	
	<%if funcionario_signed_in?%>

     <%if current_funcionario.gerente==true%>
     <li>Gerente:<%= current_funcionario.email%></li>
     <li><%= link_to "Listagem de funcionarios", controller: "controll_funcionarios", action: "index" %></li>
     <%else%>
     <li>Funcionario:<%= current_funcionario.email%></li>
     <%end%>





	<li><%= link_to "sair", destroy_funcionario_session_path, method: :delete %></li>
	<%end%>
</ul>	
</p>

<p>
 <ul>
 	<li><%= link_to "Doadores", controller: "doadores", action: "index" %></li>
    <li><%= link_to "Doações", controller: "doados", action: "index" %></li>
 </ul> 

</p>