<h2>Sign up</h2>
<%=image_tag("logos/registros.png",size: "100x130", alt: "Edit Entry")%>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

   <div class="field">
  <%= f.label "Gerente?" %>
  <%= f.check_box :gerente  , options = {}, checked_value = true, unchecked_value = false %>
    
  </div>
 
 </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "funcionarios/shared/links" %><%= link_to 'Pagina inicial', root_path %>
