<%= form_with(model: doado, local: true) do |form| %>
  <% if doado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doado.errors.count, "error") %> prohibited this doado from being saved:</h2>

      <ul>
      <% doado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="field">
    <%= form.label :doador_id %>
    <%= collection_select(:doado , :doador_id , Doador.all , :id , :CPF , prompt: true) %>
  </div>


  <div class="field">
    <%= form.label :Data %>
    <%= form.date_select :Data %>
  </div>

  <div class="field">
    <%= form.label "mls" %>
    <%= form.text_field :Litros %>
  </div>

  <div class="field">
    <%= form.label :Local %>
  <%= select("doado","Local",['Brasília/DF','São Paulo/SP'],{prompt: true})%>
  </div>

  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
