<h1>Editando doação</h1>
<%if current_funcionario.gerente==true%>

<%= render 'form', doado: @doado %>
<%else%>
	<p>Apenas para Gerentes</p>
	<%end%>

<%= link_to 'Mostar atual', @doado %> |
<%= link_to 'Voltar', doados_path %>