

<h1>Doações</h1>
<%=image_tag("logos/lista.png",size: "100x130", alt: "Edit Entry")%>
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      
      <th>Data</th>
      <th>mls</th>
      <th>Local</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doados.each do |doado| %>
      <tr>

        <td>
          <p><%= "#{doado.Data.day}-#{doado.Data.month}-#{doado.Data.year}" %></p>
          </td>
        <td><%= doado.Litros %></td>
        <td><%= doado.Local %></td>

        <td><%= link_to 'Mostrar', doado %></td>
          <%if current_funcionario.gerente==true%>
        <td><%= link_to 'Editar', edit_doado_path(doado) %></td>
        <td><%= link_to 'Apagar', doado, method: :delete, data: { confirm: 'Deseja apagar este registro?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar nova doação', new_doado_path %>|<%= link_to 'Pagina inicial', root_path %> 
