<p id="notice"><%= notice %></p>

<p>
  <strong>Doador:</strong>
  <%= @doado.doador.Nome %>
</p>

<p>
  <strong>Data:</strong>

</p>
 <%= @doado.Data.day %> 
            /
 <%= @doado.Data.month %>
            /
 <%= @doado.Data.year%>

<p>
  <strong>ml's doados:</strong>
  <%= @doado.Litros %>
</p>

<p>
  <strong>Local:</strong>
  <%= @doado.Local %>
</p>
<%if current_funcionario.gerente==true%>
<%= link_to 'Editar', edit_doado_path(@doado) %>
<%end%> |
<%= link_to 'voltar', doados_path %>
