<%= form_with(model: doador, local: true) do |form| %>
  <% if doador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doador.errors.count, "error") %> prohibited this doador from being saved:</h2>

      <ul>
      <% doador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :Nome %>
  </div>

  <div class="field">
    <%= form.label :CPF %>
    <%= form.text_field :CPF %>
  </div>

  <div class="field">
    <%= form.label :Tipo_Sanguineo %>
    <%= select("doador","Tipo_Sanguineo",['AB',' A',' B',' 0'],{include_blank: true})%>
  </div>

  <div class="field">
    <%= form.label :Fator_RH %>
    <%= select("doador","Fator_RH",['Negativo','Positivo'],{include_blank: true})%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
