


<h1>Doadores</h1> 
<p id="notice"><%= notice %></p>

<%=image_tag("logos/lista.png",size: "100x130", alt: "Edit Entry")%>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Fator rh</th>
      <th>Tipo sanguineo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doadores.each do |doador| %>
      <tr>
        <td><%= doador.Nome %></td>
        <td><%= doador.CPF %></td>
        <td><%= doador.Fator_RH %></td>
        <td>  Tipo:<%=  doador.Tipo_Sanguineo %></td>  
         
        <td><%= link_to 'Histórico', doador %></td>
        <%if current_funcionario.gerente==true%>
        <td><%= link_to 'Editar dados', edit_doador_path(doador) %></td>
        
        <td><%= link_to 'Apagar registro', doador, method: :delete, data: { confirm: 'Tem certeza que deseja apagar este doador e seu historico?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Adicionar doador', new_doador_path %>|
<%= link_to 'Pagina inicial', root_path %> 