<p id="notice"><%= notice %></p>
<%=image_tag("logos/usuario.png",size: "90x100", alt: "Edit Entry")%>
<p>
  <strong>Nome:</strong>
  <%= @doador.Nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @doador.CPF %>
</p>

<p>
  <strong>Tipo sanguineo:</strong>
  <%= @doador.Tipo_Sanguineo %>
</p>

<p>
  <strong>Fator rh:</strong>
  <%= @doador.Fator_RH %>
</p>

<hr>
<%if current_funcionario.gerente==true%>
<%=image_tag("logos/historico.png",size: "140x130", alt: "Edit Entry")%>
<ul>
     <% @doador.doados.each do |doado| %>
    <li><p>
    	<%= "Data:#{doado.Data}"  %><br />
    	<%= "ml:#{doado.Litros}" %><br />
    	<%= "Local:#{doado.Local}" %><br />
    	</p>
    	<% end %>
      <%else%>
      <p>
        Historico diponivel apenas para gerentes
      </p>
      <%end%>

</ul>
















<%if current_funcionario.gerente==true%>
<%= link_to 'Editar dados', edit_doador_path(@doador) %> 
|<%end%>
<%= link_to 'Voltar', doadores_path %>|
<%= link_to 'Pagina inicial', root_path %> 
